.DS_Store
node_modules
android_sdk
dist
**/node_modules
**/dist
lerna-debug.log
**/.gradle
*.keystore
*.jks
*.apk
*.apk.idsig
*.aab
app/build/*
build/*
google-services.json
twa-manifest-generated.json
.env*
